{% extends 'base.html' %}

{% block title %}
Skin Disease Detector - Login
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div>
    <h1 class="text-center">Login</h1>
    <div class="card">
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember Me</label>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
        <div class="text-center mt-3">
          <a href="{% url 'forgot_password' %}">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
