{% extends 'base.html' %}

{% block title %}
Crop Recommendation System - Password Reset Confirm
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div>
    <h1 class="text-center">Password Reset</h1>
    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="new_password1" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new_password1" name="new_password1">
          </div>
          <div class="mb-3">
            <label for="new_password2" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="new_password2" name="new_password2">
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
