{% extends 'base.html' %}

{% block title %}
Crop Recommendation System - Password Reset Request Sent
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div>
    <h1 class="text-center">Password Reset Request Sent</h1>
    <div class="alert alert-info" role="alert">
      An email has been sent to your registered email address with instructions to reset your password. Please check your inbox and follow the instructions provided.
    </div>
  </div>
</div>
{% endblock %}
