{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="text-center mb-4">Register</h1>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            {% for field in user_form %}
            <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
              {{ field }}
            </div>
            {% endfor %}
          </div>
          <div class="mb-3">
            {% for field in profile_form %}
            <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
              {{ field }}
            </div>
            {% endfor %}
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
